<head>
  <link rel="stylesheet" href="/css/output.css">
</head>

<body>
  <main class="flex flex-col  justify-center min-h-screen text-center px-4 sm:px-6 lg:px-8">
    {{> main }}
  </main>
</body>

